.div {
    border:2px solid black; 
    border-radius:8px; 
    margin-left:25%; 
    margin-right:25%; 
    width:50%; 
    margin-top:10px; 
    box-shadow:10px 10px 0px 0px;
  }
  
  .st {
    width:50%; 
    margin-left:25%;
  } 