ul.meniu {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #551A8B;
}
ul.meniu li {float: left;}
ul.meniu li a {
    display: inline-block;
    color: #FFFF00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}
ul.meniu li a:hover {background-color: #555;}
#svgCentru {
	margin-left:auto; 
	margin-right:auto; 
	display:block;
}