:root {
  --main-bg-color: #ddd;
  --bg-color: #f1f1f1;
  --border-color: #ccc;
  --text-color: black;
  --btn-color: #4CAF50;
  --btn-hover-color: #45a048;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {
  margin: 1px;;
  padding: 1px;;
  box-sizing: border-box;
}

header {
  background-color: var(--bg-color);
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

input[type=text], input[type=password], input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=text]:hover, input[type=password]:hover, input[type="date"]:hover {
  background-color: var(--bg-color);
}

input[type=text]:focus, input[type=password]:focus, input[type="date"]:focus {
  font-size: larger;
}

.container {
  border-radius: 4px;
  background-color: var(--main-bg-color);
  padding: 20px;
}

footer {
  background-color: var(--bg-color);
  text-align: center;
}

p {
  text-align: right;
  background-color: var(--main-bg-color);
  padding: 16px 16px 16px 16px;
  border-radius: 4px;
}

footer p{
  text-align: center;
  background-color: var(--bg-color);
}

.simple-button {
  background-color: var(--btn-color);
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.simple-button:hover {
  background-color: var(--btn-hover-color);
}
