hr { 
    display: block;
    border-width: 1px;
    border-color: blue;
}

span {
    border: 3px solid #bb00ff;
}

#box {
    border: 2px solid #001aff;
    padding-top: 60px;
    padding-right: 35px;
    padding-bottom: 60px;
    padding-left: 90px;
    width: 500px;
    height: 150px;
}

#sectiune {
    text-align: center;
    color: red;
    font-family: "Times New Roman", Times, serif;
}