p {

	font-size: 16px;
	font-family: 'Times New Roman';
	background-color: yellow;
	font-weight: 600;
	font-style: italic;
}

.cerc {
	width:100px;
	height: 100px;
	border-radius: 50px;
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.dreptunghi {
	width:200px;
	height: 100px;
	background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}



body {
	background-image:url(test.jpg);
	width: 100%;
	height: 100%;
	background-repeat: repeat-x;
}

p#txt_centrat {
	text-align: center;
	background-color: transparent;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.patrat_centru {

	width: 400px;
	height: 100px;
	background-color: #f0f0f0;
	border: 2px solid red;
	margin: 0 auto;
	background-image:url("images/img.jpg");

}

p#txt_centrat:hover {

	color: yellow;
	cursor: pointer;
	

}
/* Sa se realizeze 2 backgrounduri in doua fisiere html diferite, folosind proprietati

cu valoarea repeat-x, repeat-y; */

/* Sa se scrie numele studentului in centrul paginii, pe o imagine de fundal, cu proprietati */

/* Sa se testeze din suportul de curs, stilurile de la css, stilurile de la aceasta cerinta vor fi intr-un fisier cu numele studentului */
